/****** Object:  Database [pix-benchmark]    Script Date: 3/15/2022 10:50:54 AM ******/
CREATE DATABASE [pix-benchmark]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[chaves_por_natureza]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chaves_por_natureza](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Chaves_PJ] [bigint] NOT NULL,
	[Chaves_PF] [bigint] NOT NULL,
	[Totais] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chaves_tipo]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chaves_tipo](
	[Data_Hora] [datetime2](7) NOT NULL,
	[CNPJ] [bigint] NOT NULL,
	[Email] [bigint] NOT NULL,
	[Celular] [bigint] NOT NULL,
	[CPF] [bigint] NOT NULL,
	[Chaves_Aleatorias] [bigint] NOT NULL,
	[Total] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contas_cadastradas_usuario]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contas_cadastradas_usuario](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Contas_PJ] [bigint] NOT NULL,
	[Contas_PF] [bigint] NOT NULL,
	[Total] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[natureza_transacao]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[natureza_transacao](
	[Data_Hora] [datetime2](7) NOT NULL,
	[B2B] [bigint] NOT NULL,
	[B2P] [bigint] NOT NULL,
	[P2B] [bigint] NOT NULL,
	[P2P] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[participacao_instrumentos]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participacao_instrumentos](
	[Trimestre] [varchar](50) NOT NULL,
	[Pix] [float] NOT NULL,
	[DOC_TEC_Cheque] [float] NOT NULL,
	[TED] [float] NOT NULL,
	[Transferencias_Intrabancarias] [float] NOT NULL,
	[Cartão_Pre_Pago] [float] NOT NULL,
	[Saques] [float] NOT NULL,
	[Debito_Direto] [float] NOT NULL,
	[Boleto_Convenio] [float] NOT NULL,
	[Cartao_de_Credito] [float] NOT NULL,
	[Cartao_de_Debito] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_meses]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_meses](
	[Data_Master] [date] NOT NULL,
	[Dia] [tinyint] NOT NULL,
	[Mes] [tinyint] NOT NULL,
	[Ano] [smallint] NOT NULL,
	[Dia_Semana] [tinyint] NOT NULL,
	[Ident_Dia_Semana] [varchar](10) NOT NULL,
	[Ident_Mes] [varchar](10) NOT NULL,
	[Semana] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Data_Master] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trans_diarias_pix]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trans_diarias_pix](
	[Data] [date] NOT NULL,
	[Quantidade] [bigint] NOT NULL,
	[Total] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trans_last_24h_pix]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trans_last_24h_pix](
	[Data] [date] NOT NULL,
	[Horario] [time](7) NOT NULL,
	[QuantidadeMedia] [int] NOT NULL,
	[TotalMedio] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trans_TED_overall]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trans_TED_overall](
	[Data] [date] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Total] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacoes_idade]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacoes_idade](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Ate_19] [bigint] NULL,
	[Entre_20_29] [bigint] NULL,
	[Entre_30_39] [bigint] NULL,
	[Entre_40_49] [bigint] NULL,
	[Entre_50_59] [bigint] NULL,
	[Mais_60] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacoes_PIX_reais]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacoes_PIX_mensais](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Valor_Fora_SPI] [bigint] NULL,
	[Valor_SPI] [bigint] NULL,
	[Total] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacoes_regiao]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacoes_regiao](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Norte] [bigint] NOT NULL,
	[Centro_Oeste] [bigint] NOT NULL,
	[Sul] [bigint] NOT NULL,
	[Nordeste] [bigint] NOT NULL,
	[Sudeste] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_cadastrados_dict]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_cadastrados_dict](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Usuarios_PJ] [bigint] NULL,
	[Usuarios_PF] [bigint] NULL,
	[Total] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_realizaram_pix]    Script Date: 3/15/2022 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_realizaram_pix](
	[Data_Hora] [datetime2](7) NOT NULL,
	[Recebedor_PJ] [bigint] NULL,
	[Recebedor_PF] [bigint] NULL,
	[Pagador_PJ] [bigint] NULL,
	[Pagador_PF] [bigint] NULL,
	[Usuarios_PF] [bigint] NULL,
	[Usuarios_PJ] [bigint] NULL
) ON [PRIMARY]
GO

-----------------------------///////////////////////////----------------------------------

--POPULAR BASE DE DADOS

-----------------------------///////////////////////////----------------------------------


SELECT * FROM dbo.chaves_tipo;


SELECT * FROM dbo.contas_cadastradas_usuario;


SELECT * FROM dbo.natureza_transacao;

INSERT INTO dbo.participacao_instrumentos(Trimestre,Pix,DOC_TEC_Cheque,TED,Transferencias_Intrabancarias,Cartao_Pre_Pago,Saques,Debito_Direto,Boleto_Convenio,Cartao_Credito,Cartao_Debito) VALUES
 ('2020-T4',1.293009034,1.10881405,4.177949825,2.967812967,7.70735103,7.864139528,11.94526034,16.62384458,21.1355957,25.17622295)
,('2021-T1',6.568591439,0.85499701,2.673027635,2.297728125,7.693486486,6.962166744,12.33570523,16.56679541,21.54766559,22.49983633)
,('2021-T2',12.93015404,0.723107331,2.274944616,1.916099615,8.593419492,6.261588898,11.20003129,15.0855867,19.57980793,21.43526008);

SELECT * FROM dbo.participacao_instrumentos;

----------------------------
--Registro de meses e dias para referências:


SELECT * FROM dbo.tbl_meses;

----------------------------


SELECT * FROM dbo.trans_diarias_pix;

------------------------------------

--SCRIPTS de tabela atualizada diariamente (registro das últimas 24h):

--DIA 08/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 09/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 10/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 11/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 14/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 15/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

--DIA 16/03/2022:


SELECT * FROM dbo.trans_last_24h_pix;

------------------------------

--Registros de TED de 2019 a 2022:


SELECT * FROM dbo.trans_TED_overall;

--Idade:


SELECT * FROM dbo.transacoes_idade;

--PIX mensais:


SELECT * FROM dbo.transacoes_PIX_mensais;

--PIX por região:


SELECT * FROM dbo.transacoes_regiao;

--Usuários cadastrados DICT:


SELECT * FROM dbo.usuarios_cadastrados_dict;

--Usuários que já fizeram PIX:


SELECT * FROM dbo.usuarios_realizaram_pix;